@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/MainMaster.cshtml";
}

<div class="feedback_right">
    <a href="#" class="email-signup-link"><img src="../CSSWeb/images/btn-request.png" alt=""></a>
    <div class="email-signup">
        <ul>
            <li><a href="~/Deals/Index">Book Now</a></li>
            <li><a href="~/Invitation/Index">Invitation</a></li>
            <li><a href="~/QuatationSubmit/Index">Quatation</a></li>
            <li><a href="~/Bidding/Index">Bidding</a></li>
            <li><a href="~/ReturnGift/Index">Return Gifts</a></li>
        </ul>
    </div>
</div>

<section>
    <div class="slider">
        @using (Html.BeginForm("Index", "AllServices", FormMethod.Post))
        {
        <div class="ms-layer search-box" style="left:0; right:0; top:215px;">
            <div class="select-cats">
                <select id="e2" style="width:100%">
                    <option>Select Event</option>
                </select>
            </div>
            <div class="search-input">
                <input type="text" name="name" class="autosuggest" id="txt_Location_Bottom" placeholder="Enter your location">
            </div>
            <div class="submit-button">
                <button class="btn-1" value="Search" onclick="GetSearchValue_Bottom()">Search</button>
            </div>
            <div class="searh-footer">
                <div class="left">
                    <input id="checkbox1" type="checkbox" name="checkbox" value="1" checked="checked">
                    <label for="checkbox1">Show Deals Only</label>
                </div>
                <!--<div class="right"> <a href="deals.html">View All <i class="ti-angle-double-right"></i></a> </div>-->
            </div>
        </div>
        }
        <div class="master-slider ms-skin-black-2 round-skin" id="masterslider">
            <div class="ms-slide slide-1" style="z-index: 10" data-delay="6">
                <img data-src="../CSSWeb/images/slider/slider-1.jpg" alt="slider-1" />
                <div class="mask"></div>
                <h3 class="ms-layer light-title" style="left:0; right:0;top:120px"
                    data-effect="back(1000)"
                    data-duration="1500"
                    data-delay="400"
                    data-ease="easeOutQuint">
                    Lorem ipsum dolor sit amet consectetur
                </h3>
                <p class="ms-layer normal-desc" style="left:0; right:0; top:180px; width:100%"
                   data-effect="bottom(40)"
                   data-duration="1700"
                   data-delay="900"
                   data-ease="easeOutQuint">Cras maximus ultrices erat et molestie. Curabitur at diam eleifend, vehicula orci sit amet</p>
            </div>
            <div class="ms-slide slide-1" style="z-index: 10" data-delay="6">
                <img data-src="../CSSWeb/images/slider/slider-2.png" alt="slider-1" />
                <div class="mask"></div>
                <h3 class="ms-layer light-title" style="left:0; right:0;top:120px"
                    data-effect="front(1000)"
                    data-duration="1500"
                    data-delay="400"
                    data-ease="easeOutQuint">
                    Duis autem vel eum iriure dolor
                </h3>
                <p class="ms-layer normal-desc" style="left:0; right:0; top:180px; width:100%"
                   data-effect="bottom(40)"
                   data-duration="1700"
                   data-delay="900"
                   data-ease="easeOutQuint">Mirum est notare quam littera gothica, quam nunc putamus parum claram</p>
            </div>
            <div class="ms-slide slide-1" style="z-index: 10" data-delay="6">
                <img data-src="../CSSWeb/images/slider/slider-3.jpg" alt="slider-1" />
                <div class="mask"></div>
                <h3 class="ms-layer light-title" style="left:0; right:0;top:120px"
                    data-effect="fade(400)"
                    data-duration="1500"
                    data-delay="400"
                    data-ease="easeOutQuint">
                    Lorem ipsum dolor sit amet
                </h3>
                <p class="ms-layer normal-desc" style="left:0; right:0; top:180px; width:100%"
                   data-effect="bottom(40)"
                   data-duration="1700"
                   data-delay="900"
                   data-ease="easeOutQuint">Cras maximus ultrices erat et molestie. Curabitur at diam eleifend, vehicula orci sit amet, condimentum nibh</p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- /slider -->
</section>
<section>
    <div class="home-aboutus">
        <div class="pageWidth">
            <div class="home-aboutus-inner">
                <div class="video wow fadeInLeft animated">
                    <a title="" href="https://www.youtube.com/embed/8jKYP24uhzI" class="popup-youtube">
                        <div class="zoomDiv">
                            <img src="../CSSWeb/images/maxresdefault.jpg" alt="Hqdefault">
                            <div class="hoverDiv"></div>
                        </div>
                    </a>
                </div>
                <div class="content wow fadeInLeft animated">
                    <div class="heading-title wow fadeInRight animated">
                        <h2>About Maa Aahwanam</h2>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                </div>
                <a href="aboutus.html" class="btn btn-white wow fadeInLeft animated">Read more</a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="top-deals">
        <div class="pageWidth">
            <div class="heading-title">
                <h2>Top Deals</h2>
            </div>

            <!--Horizontal Tab-->
            <div id="parentHorizontalTab">
                <ul class="resp-tabs-list hor_1">
                    <li>Photographers</li>
                    <li>Tours & Travels </li>
                    <li>Decorators</li>
                    <li>BeautyService</li>
                </ul>
                <div class="deals_all">
                    <a href="#">View All</a>
                    <div class="view_all_deals">
                        <span>&nbsp;</span>
                        <h3>Choose Category</h3>
                        <div class="deals_list">
                            <ul>
                                <li><a href="~/product?par=Venue"><i class="ti-angle-right"></i> Venues</a></li>
                                <li><a href="~/product?par=Catering"><i class="ti-angle-right"></i> Catering</a></li>
                                <li><a href="~/product?par=Photography"><i class="ti-angle-right"></i> Photography</a></li>
                                <li><a href="~/product?par=InvitationCard"><i class="ti-angle-right"></i> InvitationCards</a></li>
                                <li><a href="~/product?par=Decorator"><i class="ti-angle-right"></i> Decorators</a></li>
                                <li><a href="~/product?par=Entertainment"><i class="ti-angle-right"></i> Entertainment</a></li>
                                <li><a href="~/product?par=Eventorganiser"><i class="ti-angle-right"></i> Event organisers</a></li>
                                <li><a href="~/product?par=BeautyService"><i class="ti-angle-right"></i> Beauty Services</a></li>
                                @*
                                <li><a href="~/product?par=WeddingFavor"><i class="ti-angle-right"></i> Wedding Favors</a></li>*@
                                <li><a href="~/product?par=Travel"><i class="ti-angle-right"></i> Travel&Accomodation</a></li>
                                <li><a href="~/product?par=Gift"><i class="ti-angle-right"></i> Gifts</a></li>
                                <li><a href="~/product?par=WeddingCollection"><i class="ti-angle-right"></i> Wedding Collection </a></li>
                                <li><a href="~/product?par=Other"><i class="ti-angle-right"></i> Others</a></li>
                            </ul>

                        </div>

                    </div>
                </div>
                <div class="resp-tabs-container hor_1">
                    <div>
                        @*Photographer Details*@
                        @if (ViewBag.PhotographersDetails.Count != 0)
                        {
                        foreach (var PhDet in ViewBag.PhotographersDetails)
                        {
                        <div class="step2">
                            <div class="deals-main">
                                <div class="deal">
                                    <div class="deal-thumb">
                                        <a href="../ProductInfo?par=@PhDet.ServicType.Trim()&VID=@PhDet.Id">
                                            <div class="zoomDiv">
                                                @*<img src="~/vendorimages/Catering_13_1.jpg" />*@
                                                <img data-src="../vendorimages/@PhDet.image" alt="thumb" src="blank.gif" class="lazy">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="deal-details">
                                        <h4 style="font-size: 15px; font-weight:bold; color: #2d3e52; font-family: Helvetica,sans-serif; ">@PhDet.BusinessName</h4>
                                        <div class="amount">
                                            <span class="price">Rs. @PhDet.Cost</span> <span class="buy">
                                                <a href="../ProductInfo?par=@PhDet.ServicType.Trim()&VID=@PhDet.Id"><i class="ti-shopping-cart"></i> Add to Cart</a>
                                            </span>
                                        </div>
                                        <span style="color:#838383">@PhDet.Description</span>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=5></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                        }
                        else
                        {
                        <p>No photographers Yet</p>
                        }
                    </div>
                    <div>
                        @*Tours and Travells*@
                        @if (ViewBag.ToursandTravels.Count != 0)
                        {
                        foreach (var tnt in ViewBag.ToursandTravels)
                        {
                        <div class="step2">
                            <div class="deals-main">
                                <div class="deal">
                                    <div class="deal-thumb">
                                        <a href="../ProductInfo?par=@tnt.ServicType.Trim()&VID=@tnt.Id">
                                            <div class="zoomDiv">
                                                <img src="blank.gif" class="lazy" data-src="../vendorimages/@tnt.image" alt="thumb">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="deal-details">
                                        <h4 style="font-size: 15px; font-weight:bold; color: #2d3e52; font-family: Helvetica,sans-serif; ">Wedding Favors</h4>
                                        <div class="amount">
                                            <span class="price">Rs. @tnt.Cost</span> <span class="buy">
                                                <a href="../ProductInfo?par=@tnt.ServicType.Trim()&VID=@tnt.Id"><i class="ti-shopping-cart"></i> Add to Cart</a>
                                            </span>
                                        </div>
                                        <span style="color:#838383">@tnt.Description</span>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=5></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                        }
                        else
                        {
                        <p>No Travels Yet</p>
                        }
                    </div>
                    <div>
                        @*Decorators*@
                        @if (ViewBag.Decorators.Count != 0)
                        {
                        foreach (var dec in ViewBag.Decorators)
                        {
                        <div class="step2">
                            <div class="deals-main">
                                <div class="deal">
                                    <div class="deal-thumb">
                                        <a href="../ProductInfo?par=@dec.ServicType.Trim()&VID=@dec.Id">
                                            <div class="zoomDiv">
                                                <img src="blank.gif" class="lazy" data-src="../vendorimages/@dec.image" alt="thumb">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="deal-details">
                                        <h4 style="font-size: 15px; font-weight:bold; color: #2d3e52; font-family: Helvetica,sans-serif; ">@dec.BusinessName</h4>
                                        <div class="amount">
                                            <span class="price">Rs. @dec.Cost</span> <span class="buy">
                                                <a href="../ProductInfo?par=@dec.ServicType.Trim()&VID=@dec.Id"><i class="ti-shopping-cart"></i> Add to Cart</a>
                                            </span>
                                        </div>
                                        <span style="color:#838383">@dec.Description</span>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=5></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                        }
                        else
                        {
                        <p>No Decorators Yet</p>
                        }
                    </div>

                    <div>
                        @if (ViewBag.Beautician.Count != 0)
                        {
                        foreach (var dec1 in ViewBag.Beautician)
                        {
                        <div class="step2">
                            <div class="deals-main">
                                <div class="deal">
                                    <div class="deal-thumb">
                                        <a href="../ProductInfo?par=@dec1.ServicType.Trim()&VID=@dec1.Id">
                                            <div class="zoomDiv">
                                                <img src="blank.gif" class="lazy" data-src="../vendorimages/@dec1.image" alt="thumb">
                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="deal-details">
                                        <h4 style="font-size: 15px; font-weight:bold; color: #2d3e52; font-family: Helvetica,sans-serif; ">@dec1.BusinessName</h4>
                                        <div class="amount">
                                            <span class="price">@dec1.Cost</span> <span class="buy">
                                                <a href="../ProductInfo?par=@dec1.ServicType.Trim()&VID=@dec1.Id"><i class="ti-shopping-cart"></i> Add to Cart</a>
                                            </span>
                                        </div>
                                        <span style="color:#838383">@dec1.Description</span>
                                        <div class="deal-footer">
                                            <ul>
                                                <li><div class="rate" data-rate-value=5></div></li>
                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                <li><i class="ti-eye"></i> 1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                        }
                        else
                        {
                        <p>No Beauticians Yet</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonials -->

<section>
    <div class="pageWidth">
        <div class="testimonials">



            @if (ViewBag.Testimonials.Count != 0)
            {
                <div class="heading-title">
                    <h2>What Our Customers Say!</h2>
                </div>
                <div id="testimonials" class="owl-carousel owl-theme">

                    @foreach (var item in @ViewBag.Testimonials)
                    {

                    <div class="item">
                        <div class="studentPic">
                            <div class="studentPic-inner">
                                <div> <img src="blank.gif" class="lazy" data-src="../Testimonial/@item.ImagePath" alt="student"> </div>
                            </div>
                        </div>
                        <div class="studentTest">
                            <p>
                                @item.Description
                                <a href="~/Testimonials">......More</a>
                            </p>
                            <div class="stuTitle">
                                @item.Name
                            </div>
                            <small>@*@item.City*@</small>
                        </div>
                    </div>

                    }
                </div>
            }
            else
            {
                <div class="stuTitle">
                    No customers feelings yet..!!
                </div>
            }
        </div>
    </div>
        
</section>
<!-- // testimonials -->

<section>
    <div class="smart_counts">
        <div class="smart_counts_mask"></div>
        <div class="pageWidth">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever when an unknown printer .</p>
            <div class="counts">
            </div>
            <div class="counts">
                <i class="ti-thumb-up"></i>
                <h2><span class="counter">@ViewBag.EventsCount</span>+</h2>
                <h4>Successful Events</h4>
            </div>
            <div class="counts">
                <i class="ti-receipt"></i>
                <h2><span class="counter">@ViewBag.Ticketscount</span>+</h2>
                <h4>Answered Tickets</h4>
            </div>
            <div class="counts">
            </div>
        </div>
    </div>
</section>
@*<div class="ad">
    <div class="pageWidth">
        <div class="ad_728"><img src="../CSSWeb/images/ad_728_2.jpg" alt="advertise"></div>
    </div>
</div>*@

<!-- Events -->
<section>
    <div class="home_events">
        <div class="pageWidth">
            <!--Horizontal Tab-->
            <div id="parentHorizontalTab2">
                <ul class="resp-tabs-list hor_1">
                    <li>Upcoming Events</li>
                    <li>Health Tips</li>
                    <li>Beauty Tips</li>
                </ul>
                <div class="resp-tabs-container hor_1">
                    <!-- UpcomingEvents -->
                    <div>
                        @if (ViewBag.UpcomingEvents != null)
                        {
                        foreach (var Upcomingevents in ViewBag.UpcomingEvents)
                        {
                        <a href="#">
                            <div class="home_events_main no-margin">
                                <div class="event-thumb"><img src="blank.gif" class="lazy" data-src="../CSSWeb/images/events/thumb-1.jpg" alt="events"> </div>
                                <div class="event-details">
                                    <h2>@Upcomingevents.Title</h2>
                                    <p class="event-desc">@Upcomingevents.Description.ToString().Substring(0, 5)</p>
                                    <p><i class="ti-location-pin"></i>@Upcomingevents.location</p>
                                    <p><i class="ti-user"></i>@Upcomingevents.person</p>
                                    <p><i class="ti-mobile"></i>@Upcomingevents.phone</p>
                                    <p><i class="ti-calendar"></i>@Upcomingevents.Eventstartdate am</p>
                                    <p>Rs.@Html.Encode(string.Format("{0:2}", Upcomingevents.price))</p>
                                </div>
                            </div>
                        </a>
                        }
                        }
                        else
                        {
                        <div class="home_events_main no-margin">
                            <div class="event-details">
                                <h2>No UpcomingEvents found</h2>
                            </div>
                        </div>
                        }
                    </div>
                    <!-- HealthTips -->
                    <div>
                        @if (ViewBag.HealthTips != null)
                        {
                        foreach (var HealthTips in ViewBag.HealthTips)
                        {
                        <a href="#">
                            <div class="home_events_main no-margin">
                                <div class="event-thumb"><img src="blank.gif" class="lazy" data-src="../CSSWeb/images/events/thumb-1.jpg" alt="events"> </div>
                                <div class="event-details">
                                    <h2>@HealthTips.Title</h2>
                                    <p class="event-desc">@HealthTips.Description.ToString().Substring(0, 5)</p>
                                    <p><i class="ti-location-pin"></i>@HealthTips.location</p>
                                    <p><i class="ti-user"></i>@HealthTips.person</p>
                                    <p><i class="ti-mobile"></i>@HealthTips.phone</p>
                                    <p><i class="ti-calendar"></i>@HealthTips.Eventstartdate am</p>
                                    <p>Rs.@Html.Encode(string.Format("{0:2}", HealthTips.price))</p>
                                </div>
                            </div>
                        </a>
                        }
                        }
                        else
                        {
                        <div class="home_events_main no-margin">
                            <div class="event-details">
                                <h2>No HealthTips Found</h2>
                            </div>
                        </div>
                        }
                    </div>
                    <!-- BeautyTips -->
                    <div>
                        @if (ViewBag.BeautyTips != null)
                        {
                        foreach (var BeautyTips in ViewBag.BeautyTips)
                        {
                        <a href="#">
                            <div class="home_events_main no-margin">
                                <div class="event-thumb"><img src="blank.gif" class="lazy" data-src="../CSSWeb/images/events/thumb-1.jpg" alt="events"> </div>
                                <div class="event-details">
                                    <h2>@BeautyTips.Title</h2>
                                    <p class="event-desc">@BeautyTips.Description.ToString().Substring(0, 5)</p>
                                    <p><i class="ti-location-pin"></i>@BeautyTips.location</p>
                                    <p><i class="ti-user"></i>@BeautyTips.person</p>
                                    <p><i class="ti-mobile"></i>@BeautyTips.phone</p>
                                    <p><i class="ti-calendar"></i>@BeautyTips.Eventstartdate am</p>
                                    <p>Rs.@Html.Encode(string.Format("{0:2}", BeautyTips.price))</p>
                                </div>
                            </div>
                        </a>
                        }
                        }
                        else
                        {
                        <div class="home_events_main no-margin">
                            <div class="event-details">
                                <h2>No BeautyTips found</h2>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // Events -->
@section scripts
{

}
<script type="text/javascript" async="async" defer="defer" data-cfasync="false" src="https://mylivechat.com/chatinline.aspx?hccid=84879164">
</script>
