@model MaaAahwanam.Web.Areas.Admin.Models.InviDesignsModel
@{
    ViewBag.Title = "InvitationDesigns";
    Layout = "~/Areas/Admin/Views/Shared/Master.cshtml";
}

@section header{
    <!-- PAGE LEVEL STYLES -->
    <link href="~/Assets/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assets/plugins/validationengine/css/validationEngine.jquery.css" />
    <link href="~/Assets/css/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assets/plugins/uniform/themes/default/css/uniform.default.css" />
    <link rel="stylesheet" href="~/Assets/plugins/inputlimiter/jquery.inputlimiter.1.0.css" />
    <link rel="stylesheet" href="~/Assets/plugins/chosen/chosen.min.css" />
    <link rel="stylesheet" href="~/Assets/plugins/colorpicker/css/colorpicker.css" />
    <link rel="stylesheet" href="~/Assets/plugins/tagsinput/jquery.tagsinput.css" />
    <link rel="stylesheet" href="~/Assets/plugins/switch/static/stylesheets/bootstrap-switch.css" />
    <link rel="stylesheet" href="~/Assets/css/bootstrap-fileupload.min.css" />
    <link href="~/Assets/plugins/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet" />
    <!-- END PAGE LEVEL  STYLES -->
}

<!--PAGE CONTENT -->
<div id="content">
    <div class="inner">
        <div class="row">
            </br>
            <div class="col-lg-12">
                <h2> Invitation Designs </h2>
            </div>
        </div>
        <hr />

        <div class="row">
            </br>
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="tab-content" id="images">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="collapse2" class="body collapse in">
                                        @*<form class="form-horizontal" id="popup-validation">*@
                                        @using (Html.BeginForm("save", "InviDesigns", FormMethod.Post, new { @class = "form-horizontal", @id = "popup-validation", enctype = "multipart/form-data" }))
                                        {
                                            <div class="form-group">
                                                <label class="control-label col-lg-4">Vendor Name</label>
                                                <div class="col-lg-4">
                                                    @Html.DropDownListFor(M => M.VendorID, new SelectList(Model.VendorsList, "UserBusiId", "BusinessName"), "--Select Vendor--", new { @class = "validate[required] form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4">Category</label>
                                                <div class="col-lg-4">
                                                    @Html.DropDownListFor(m => m.Category, new SelectList(
                                          new List<Object>{
                                              new {Text ="Choose a Category", Value = ""},
                                               new { Text ="WeddingCard-Family", Value = "WeddingCard-Family"  },
                                               new { Text ="WeddingCard-Personal", Value = "WeddingCard-Personal" },
                                               new { Text ="WeddingCard-Official", Value = "WeddingCard-Official" },
                                               new { Text ="InvitationCard-Birthday", Value = "InvitationCard-Birthday"  },

                                            },
                                          "value",
                                                   "text"), new { @class = "validate[required] form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4">DesignName</label>

                                                <div class="col-lg-4">
                                                    @Html.HiddenFor(m => m.DesignId)
                                                    @Html.TextBoxFor(m => m.DesignName, new { @class = "validate[required] form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4">Description</label>
                                                <div class="col-lg-4">
                                                    @Html.TextAreaFor(m => m.Description, new { @class = "validate[required] form-control" })
                                                    @*<textarea id="autosize" class="validate[required] form-control" name="req" id="req"></textarea>*@
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4">Cost</label>

                                                <div class="col-lg-4">
                                                    @Html.TextBoxFor(m => m.CardCost, new { @class = "validate[required] form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4">Upload Design</label>
                                                <div class="col-lg-8">
                                                    @if (Model.Image == null)
                                                    {
                                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="~/Assets/img/demoUpload.jpg" alt="" /></div>
                                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                                        <div>
                                                            <span class="btn btn-file btn-primary">
                                                                <span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span>
                                                                <input type="file" name="file" />
                                                            </span> <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">Remove</a>
                                                        </div>
                                                    </div>
                                                    }
                                                    else
                                                    {
                                                    <div class="fileupload fileupload-exists" data-provides="fileupload">
                                                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="~/Assets/img/demoUpload.jpg" alt="" /></div>
                                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"><img src="/Content/InvitationDesignfiles/@Model.Image" alt="" /></div>
                                                        <div>
                                                            <span class="btn btn-file btn-primary">
                                                                <span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span>
                                                                <input type="file" name="file" />
                                                            </span> <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">Remove</a>
                                                        </div>
                                                    </div>
                                                    }

                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label for="tags" class="control-label col-lg-4">Multiple Images</label>
                                                <div class="col-lg-4">
                                                    @*<input type='file' multiple id='fileUpload' name="files[]" data-url="@Url.Action("Upload","Home")" />*@
                                                    <input type='file' multiple id='fileUpload' name="Multifiles" />
                                                </div>
                                            </div>
                                            <br />
                                            <div id="dvPreview" style="margin-left:360px">
                                            </div>
                                            <br />
                                            <br />
                                            <div style="text-align:center" class="form-actions no-margin-bottom">
                                                @*@Html.ActionLink("Save", "UserProfileSave", "DashBoard", new { @class = "btn btn-primary btn-lg " })*@
                                                <input type="submit" value="Save" class="btn text-muted text-center btn-success" name="Command" />
                                            </div>
                                        }
                                        @*</form>*@
                                    </div>
                                </div>
                            </div>
                            </br>
                            </br>
                            <div class="table-responsive">

                                <table class="table table-striped">
                                    <h5><b><u> Available Designs </u></b></h5>
                                    <thead>
                                        <tr>
                                            <th>Design Id</th>
                                            <th>Design</th>
                                            <th>Name</th>
                                            <th>Category</th>
                                            <th>Card Cost</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.DesignsList)
                                        {
                                            <tr>
                                                <td>@item.DesignId</td>
                                                <td><a id="example7" href="/Content/InvitationDesignfiles/@item.Image" title="Lorem ipsum dolor sit amet"><img width="100px" height="100px" src="/Content/InvitationDesignfiles/@item.Image" alt="" /></a></td>
                                                <td><label class="control-label col-lg-4">@item.DesignName</label></td>
                                                <td><label class="control-label col-lg-4">@item.Category</label></td>
                                                <td><label class="control-label col-lg-4">@item.CardCost</label></td>
                                                <td><a href="../InviDesigns/InvitationDesigns?id=@item.DesignId" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                                                @*<td>@Html.ActionLink("View", "InvitationDesigns", new { id = @item.DesignId })</td>*@

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--END PAGE CONTENT -->
@section Bottom{
    <script src="~/Assets/plugins/jquery-2.0.3.min.js"></script>
    <script src="~/Assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    <script src="~/Assets/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Assets/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="~/Assets/plugins/jasny/js/bootstrap-fileupload.js"></script>

    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script language="javascript" type="text/javascript">
    $(function () {
        $("#fileUpload").change(function () {
            if (typeof (FileReader) != "undefined") {
                var dvPreview = $("#dvPreview");
                dvPreview.html("");
                var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                $($(this)[0].files).each(function () {
                    var file = $(this);
                    if (regex.test(file[0].name.toLowerCase())) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            var img = $("<img />");
                            img.attr("style", "height:100px;width: 100px max-height: 75px;border: 2px solid;margin: 10px 10px 0 0;padding: 1px;");
                            img.attr("src", e.target.result);
                            img.addClass();
                            dvPreview.append(img);
                        }
                        reader.readAsDataURL(file[0]);
                    } else {
                        alert(file[0].name + " is not a valid image file.");
                        dvPreview.html("");
                        return false;
                    }
                });
            } else {
                alert("This browser does not support HTML5 FileReader.");
            }
        });
    });
</script>

}
<!-- PAGE LEVEL SCRIPTS -->
<script src="~/Assets/plugins/dataTables/jquery.dataTables.js"></script>
<script src="~/Assets/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="~/Assets/plugins/validationengine/js/jquery.validationEngine.js"></script>
<script src="~/Assets/plugins/validationengine/js/languages/jquery.validationEngine-en.js"></script>
<script src="~/Assets/plugins/jquery-validation-1.11.1/dist/jquery.validate.min.js"></script>
<script src="~/Assets/js/validationInit.js"></script>
<script src="~/Assets/js/jquery-ui.min.js"></script>
<script src="~/Assets/plugins/uniform/jquery.uniform.min.js"></script>
<script src="~/Assets/plugins/inputlimiter/jquery.inputlimiter.1.3.1.min.js"></script>
<script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
<script src="~/Assets/plugins/tagsinput/jquery.tagsinput.min.js"></script>
<script src="~/Assets/plugins/validVal/js/jquery.validVal.min.js"></script>
<script src="~/Assets/plugins/switch/static/js/bootstrap-switch.min.js"></script>
<script src="~/Assets/plugins/jquery.dualListbox-1.3/jquery.dualListBox-1.3.min.js"></script>
<script src="~/Assets/plugins/autosize/jquery.autosize.min.js"></script>
<script src="~/Assets/plugins/jasny/js/bootstrap-inputmask.js"></script>
<script src="~/Assets/plugins/jasny/js/bootstrap-fileupload.js"></script>
<script src="~/Assets/plugins/jquery.fancybox-1.3.4/jquery-1.4.3.min.js"></script> <!--important for gallery-->
<script src="~/Assets/plugins/jquery.fancybox-1.3.4/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
<script src="~/Assets/plugins/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.js"></script>
<script src="~/Assets/js/image_gallery.js"></script>
<script>
    $(function () { formValidation(); });
</script>
<!-- END PAGE LEVEL SCRIPTS -->
