
@{
    ViewBag.Title = "Orders";
    Layout = "~/Areas/Admin/Views/Shared/Master.cshtml";
}

<h2>Orders</h2>

<div style="margin-left:300px;margin-top:30px">
    <table cellpadding="4">
        <tr>
            <td><label for="FirstName">Order ID:</label></td>
            <td><label for="FirstName">Order Type:</label></td>
            <td><label for="FirstName">Order By:</label></td>
            <td><label for="FirstName">Time Frame:</label></td>
            <td></td>
            <td><label for="FirstName">Where Status Is:</label></td>
        </tr>
        <tr>
            <td>@Html.TextBox("OrderID")</td>
            @*<td>@Html.DropDownList("list2", ViewData["list2"] as SelectList, new { @class = "form-control input-sm" })</td>*@
            <td>@Html.DropDownList("list", ViewData["list"] as SelectList, new { @class = "form-control input-sm" })</td>
            <td>@Html.DropDownList("list3", ViewData["list3"] as SelectList, new { @class = "form-control input-sm" })</td>
            <td>@Html.TextBox("Startdate")</td>
            <td>@Html.TextBox("Enddate")</td>
            
            <td>@Html.DropDownList("list4", ViewData["list4"] as SelectList, new { @class = "form-control input-sm" })</td>
            <td><input type="submit" class="myclassname" title="Search" value="Search" /></td>
        </tr>
    </table>
</div>

@section header{
    <!-- PAGE LEVEL STYLES -->
    <link href="~/Assets/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <!-- END PAGE LEVEL  STYLES -->
}


<div id="content">
    <div class="inner">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading" align="right">
                        <button type="button" data-toggle="tooltip" data-placement="top" title="Export to PDF" class="btn btn-default btn-circle"><i class="icon-check"></i> </button>
                        <button type="button" data-toggle="tooltip" data-placement="top" title="Export to Exccel" class="btn btn-primary btn-circle"><i class="icon-list"></i> </button>
                        <button type="button" data-toggle="tooltip" data-placement="top" title="Print" class="btn btn-success btn-circle"><i class="icon-link"></i> </button>
                    </div>
                    @using (Html.BeginForm(FormMethod.Post))
                    {
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Order ID</th>
                                            <th>Ordered By</th>
                                            <th>order Type</th>
                                            <th>Order Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="even gradeX">
                                            <td>
                                                <h5>100</h5>
                                            </td>
                                            <td>
                                                <h5>Sai Krishna</h5>
                                            </td>
                                            <td>
                                                <h5>Invitation</h5>
                                            </td>

                                            <td>
                                                <h5>In Cart</h5>
                                            </td>
                                        </tr>

                                        <tr class="even gradeX">
                                            <td>
                                                <h5>101</h5>
                                            </td>
                                            <td>
                                                <h5>Reddy</h5>
                                            </td>
                                            <td>
                                                <h5>Invitation</h5>
                                            </td>

                                            <td>
                                                <h5>Total Paid</h5>
                                            </td>
                                        </tr>
                                        @*Temp show end*@

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!--END PAGE CONTENT -->
@section Bottom{
    <script src="~/Assets/plugins/jquery-2.0.3.min.js"></script>
    <script src="~/Assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    <script src="~/Assets/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Assets/plugins/dataTables/dataTables.bootstrap.js"></script>

    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
}