@{
    ViewBag.Title = "Tickets";
    Layout = "~/Areas/Admin/Views/Shared/MainMaster.cshtml";
}

@section header{
    <!-- PAGE LEVEL STYLES -->
    <link href="~/Assets/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <!-- END PAGE LEVEL  STYLES -->
}

<!--PAGE CONTENT -->
<div id="content">
    <div class="inner">
        <div class="row">
            <div class="col-lg-12">
                <h2>Issue Ticket</h2>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading" align="right">
                        <button type="button" data-toggle="tooltip" data-placement="top" title="Export to PDF" class="btn btn-default btn-circle">
                            <i class="icon-check"></i>
                        </button>
                        <button type="button" data-toggle="tooltip" data-placement="top" title="Export to Exccel" class="btn btn-primary btn-circle">
                            <i class="icon-list"></i>
                        </button>
                        <button type="button" data-toggle="tooltip" data-placement="top" title="Print" class="btn btn-success btn-circle">
                            <i class="icon-link"></i>
                        </button>
                    </div>                   
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>IssueId #</th>
                                            <th>Customer Name</th>
                                            <th>IssueType</th>
                                            <th>Severity</th>
                                            <th>Raised Date</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.Tickets)
                                        {
                                            <tr class="even gradeX">
                                                <td>
                                                    @item.TicketId
                                                </td>
                                                <td>
                                                    @item.IssueType
                                                </td>
                                                <td>
                                                    @item.Severity
                                                </td>
                                                <td>
                                                    @item.UpdatedDate
                                                </td>
                                                <td>
                                                    @item.Status
                                                </td>
                                                <td>
                                                    <a href="/Admin/Others/TicketDetails?id=@item.TicketId" class="btn btn-default btn-xs"> View </a>|
                                                    <a href="#" class="btn btn-default btn-xs">Delete</a>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                    </table>
                                    @*<tbody>
                <tr class="even gradeX">
                    <td>1</td>
                    <td>Anil P</td>
                    <td>Request Process</td>
                    <td>High</td>
                    <td>1/09/2015</br><font color="#FF0000">12/09/2015</font></td>
                    <td><a href="#" class="btn btn-primary btn-xs btn-rect">New</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>2</td>
                    <td>Prasach CH</td>
                    <td>Information On Site</td>
                    <td>High</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-success btn-xs btn-rect">Replied</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>3</td>
                    <td>Jagdeesh</td>
                    <td>Service Execution</td>
                    <td>High</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-primary btn-xs btn-rect">New</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>4</td>
                    <td>Venkat Swami</td>
                    <td>Service Execution</td>
                    <td>Low</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-primary btn-xs btn-rect">New</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>5</td>
                    <td>Murali A</td>
                    <td>Request Process</td>
                    <td>Medium</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-primary btn-xs btn-rect">New</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>6</td>
                    <td>Mohan Reddy</td>
                    <td>Information On Site</td>
                    <td>High</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-primary btn-xs btn-rect">New</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>7</td>
                    <td>Anjanadri</td>
                    <td>Service Execution</td>
                    <td>High</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-primary btn-xs btn-rect">New</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>8</td>
                    <td>Sirisha P</td>
                    <td>Service Execution</td>
                    <td>High</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-success btn-xs btn-rect">Replied</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>9</td>
                    <td>Swetha M</td>
                    <td>Request Process</td>
                    <td>High</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-primary btn-xs btn-rect">New</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>10</td>
                    <td>Srikanth K</td>
                    <td>Information On Site</td>
                    <td>High</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-success btn-xs btn-rect">Replied</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>11</td>
                    <td>Srinivas Chowdary</td>
                    <td>Service Execution</td>
                    <td>High</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-primary btn-xs btn-rect">New</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>12</td>
                    <td>Ashok A</td>
                    <td>Service Execution</td>
                    <td>High</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-success btn-xs btn-rect">Replied</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>13</td>
                    <td>AVH rao</td>
                    <td>Information On Site</td>
                    <td>Low</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-success btn-xs btn-rect">Replied</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>14</td>
                    <td>Vivek Sukla</td>
                    <td>Request Process</td>
                    <td>Urgent</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-success btn-xs btn-rect">Replied</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>15</td>
                    <td>Pradeep Chand</td>
                    <td>Information On Site</td>
                    <td>Low</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-success btn-xs btn-rect">Replied</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>16</td>
                    <td>Gowtham T</td>
                    <td>Request Process</td>
                    <td>Medium</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-primary btn-xs btn-rect">New</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>17</td>
                    <td>Sai teja</td>
                    <td>Service Execution</td>
                    <td>Urgent</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-success btn-xs btn-rect">Replied</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>18</td>
                    <td>Tejaswi P</td>
                    <td>Information On Site</td>
                    <td>High</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-success btn-xs btn-rect">Replied</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>19</td>
                    <td>Sanjay T</td>
                    <td>Request Process</td>
                    <td>High</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-success btn-xs btn-rect">Replied</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>20</td>
                    <td>Venkateswar Goud</td>
                    <td>Information On Site</td>
                    <td>High</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-success btn-xs btn-rect">Replied</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>21</td>
                    <td>Madhuri B</td>
                    <td>Service Execution</td>
                    <td>High</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-primary btn-xs btn-rect">New</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>22</td>
                    <td>Tirumal N</td>
                    <td>Request Process</td>
                    <td>High</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-success btn-xs btn-rect">Replied</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>23</td>
                    <td>Abhishek</td>
                    <td>Request Process</td>
                    <td>High</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-success btn-xs btn-rect">Replied</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>24</td>
                    <td>Ramakanth</td>
                    <td>Service Execution</td>
                    <td>High</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-success btn-xs btn-rect">Replied</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>25</td>
                    <td>Prakash P</td>
                    <td>Information On Site</td>
                    <td>High</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-success btn-xs btn-rect">Replied</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>26</td>
                    <td>Mallikarjun</td>
                    <td>Information On Site</td>
                    <td>High</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-primary btn-xs btn-rect">New</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>27</td>
                    <td>Arvind Ch</td>
                    <td>Request Process</td>
                    <td>High</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-success btn-xs btn-rect">Replied</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>28</td>
                    <td>Charana P</td>
                    <td>Request Process</td>
                    <td>High</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-success btn-xs btn-rect">Replied</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>29</td>
                    <td>Mahesh M</td>
                    <td>Service Execution</td>
                    <td>High</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-success btn-xs btn-rect">Replied</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>30</td>
                    <td>Pavan</td>
                    <td>Information On Site</td>
                    <td>High</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-success btn-xs btn-rect">Replied</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>31</td>
                    <td>Anil P</td>
                    <td>Request Process</td>
                    <td>High</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-primary btn-xs btn-rect">New</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>32</td>
                    <td>Vibhavi  T</td>
                    <td>Service Execution</td>
                    <td>High</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-success btn-xs btn-rect">Replied</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>33</td>
                    <td>Happy T</td>
                    <td>Information On Site</td>
                    <td>Medium</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-success btn-xs btn-rect">Replied</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>34</td>
                    <td>Ramesh</td>
                    <td>Request Process</td>
                    <td>Low</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-success btn-xs btn-rect">Replied</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>35</td>
                    <td>Krishna V</td>
                    <td>Service Execution</td>
                    <td>High</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-success btn-xs btn-rect">Replied</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>36</td>
                    <td>Lakshmi P</td>
                    <td>Information On Site</td>
                    <td>High</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-primary btn-xs btn-rect">New</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>37</td>
                    <td>Sindhu L</td>
                    <td>Request Process</td>
                    <td>High</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-success btn-xs btn-rect">Replied</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>38</td>
                    <td>Kishore Y</td>
                    <td>Service Execution</td>
                    <td>High</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-success btn-xs btn-rect">Replied</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>39</td>
                    <td>Chandra P</td>
                    <td>Information On Site</td>
                    <td>Low</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-success btn-xs btn-rect">Replied</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
                <tr class="even gradeX">
                    <td>40</td>
                    <td>Raghu P</td>
                    <td>Service Execution</td>
                    <td>Medium</td>
                    <td>12/09/2013</br><font color="#FF0000">12/09/2013</font></td>
                    <td><a href="#" class="btn btn-success btn-xs btn-rect">Replied</a></td>
                    <td><a href="/Admin/Others/TicketDetails" class="btn btn-default btn-xs">View</a><a href="#" class="btn btn-default btn-xs">Edit</a><a href="#" class="btn btn-default btn-xs">Delete</a></td>
                </tr>
            </tbody>
    </table>*@
                            </div>
                        </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--END PAGE CONTENT -->
@section Bottom{
    <script src="~/Assets/plugins/jquery-2.0.3.min.js"></script>
    <script src="~/Assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    <script src="~/Assets/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Assets/plugins/dataTables/dataTables.bootstrap.js"></script>

    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
}
