
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="UTF-8" />
    <title>MaAdmin Dashboard</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
  
    <!-- GLOBAL STYLES -->
    <link rel="stylesheet" href="~/Assets/plugins/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Assets/css/main.css" />
    <link rel="stylesheet" href="~/Assets/css/theme.css" />
    <link rel="stylesheet" href="~/Assets/css/MoneAdmin.css" />
    <link rel="stylesheet" href="~/Assets/plugins/Font-Awesome/css/font-awesome.css" />
    <!--END GLOBAL STYLES -->

</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<body class="padTop53 ">
    @RenderSection("header", false)   
    @*@{Html.RenderAction("Masterdata", "DashBoard");}*@
    <!-- MAIN WRAPPER -->
    <div id="wrap">
        <!-- HEADER SECTION -->
        <div id="top">
            <nav class="navbar navbar-inverse navbar-fixed-top " style="padding-top: 10px;">
                <a data-original-title="Show/Hide Menu" data-placement="bottom" data-tooltip="tooltip" class="accordion-toggle btn btn-primary btn-sm visible-xs" data-toggle="collapse" href="#menu" id="menu-toggle"> <i class="icon-align-justify"></i> </a>
                <!-- LOGO SECTION -->
                <header class="navbar-header"> <a href="index.html" class="navbar-brand"> <img src="~/Assets/img/logo.png" alt="" /> </a> </header>
                <!-- END LOGO SECTION -->
                <ul class="nav navbar-top-links navbar-right">

                    <!--ADMIN SETTINGS SECTIONS -->

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="icon-user "></i>&nbsp; <i class="icon-chevron-down "></i> </a>
                        <ul class="dropdown-menu dropdown-user">
                            @*<li>@Html.ActionLink("User Profile ", "UserProfile", "DashBoard")</li>*@
                            <li><a href="/Admin/DashBoard/UserProfile"><i class="icon-user"></i> User Profile </a> </li>
                            <li><a href="/Admin/DashBoard/ChangePassword"><i class="icon-bell-alt"></i> Change Password </a> </li>
                            <li><a href="../DashBoard/Lock"><i class="icon-gear"></i> Lock </a> </li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Logout", "SignOut", "Login")</li>
                        </ul>
                    </li>
                    <!--END ADMIN SETTINGS -->
                </ul>
            </nav>
        </div>
        <!-- END HEADER SECTION -->
        <!-- MENU SECTION -->
        <div id="left">
            @{Html.RenderAction("Masterdata", "DashBoard");}
            <ul id="menu" class="collapse">
                <li class="panel"> <a href="#"> <i class="icon-table"></i> Registered Users </a> </li>
            </ul>
        </div>
        <!--END MENU SECTION -->
     @RenderBody()
    </div>
    <!--END MAIN WRAPPER -->

    <!-- FOOTER -->
    <div id="footer">
        <p>© Maa-Aahwanam.com 2015</p>
    </div>
    <!--END FOOTER -->
    @RenderSection("Bottom", false)
</body>

<!-- END BODY -->
</html>
