@model Tuple<MaaAahwanam.Repository.GetProductsInfo_Result, MaaAahwanam.Models.Review>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/MainMaster.cshtml";
}
@section Navigation
{
    <div class="breads">
        <div class="breads_inner">
            <div class="pageWidth">
                <div class="title">
                    <h3>The best service in the city</h3>
                </div>
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="~/Index/Index">Home</a></li>
                        <li><i class="breads_arrow"></i></li>
                        <li><a>Categories</a></li>
                        <li><i class="breads_arrow"></i></li>
                        @*<li><a href="index.html">Photographers</a></li>
                            <li><i class="breads_arrow"></i></li>
                            <li>Suspendisse vel urna sit amet</li>*@
                        @if (ViewBag.ServiceType == "InvitationCard")
                        {
                            <li><a href="../product?par=InvitationCard"> InvitationCard</a></li>
                        }
                        @if (ViewBag.ServiceType == "Venue")
                        {
                            <li><a href="../product?par=Venue"> Venue</a></li>
                        }
                        @if (ViewBag.ServiceType == "Catering")
                        {
                            <li><a href="../product?par=Catering"> Catering</a></li>
                        }
                        @if (ViewBag.ServiceType == "Photography")
                        {
                            <li><a href="../product?par=Photography"> Photography</a></li>
                        }
                        @if (ViewBag.ServiceType == "Decorator")
                        {
                            <li><a href="../product?par=Decorator"> Decorator</a></li>
                        }
                        @if (ViewBag.ServiceType == "Entertainment")
                        {
                            <li><a href="../product?par=Entertainment"> Entertainment</a></li>
                        }
                        @if (ViewBag.ServiceType == "Eventorganiser")
                        {
                            <li><a href="../product?par=Eventorganiser"> Eventorganiser</a></li>
                        }
                        @if (ViewBag.ServiceType == "BeautyService")
                        {
                            <li><a href="../product?par=BeautyService"> Beauty Service</a></li>
                        }
                        @if (ViewBag.ServiceType == "Travel")
                        {
                            <li><a href="../product?par=Travel"> Travel</a></li>
                        }
                        @if (ViewBag.ServiceType == "Gift")
                        {
                            <li><a href="../product?par=Gift"> Gift</a></li>
                        }
                        @if (ViewBag.ServiceType == "WeddingCollection")
                        {
                            <li><a href="../product?par=WeddingCollection"> WeddingCollection</a></li>
                        }
                        @if (ViewBag.ServiceType == "Other")
                        {
                            <li><a href="../product?par=Other"> Other</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

<section>
    <div class="about_main">
        <div class="pageWidth">

            <div class="deal_info_main">
                <div class="deal-info">
                    <div class="deal-slider">
                        <div class="sp-loading">
                            <img src="../CSSWeb/images/sp-loading.gif" alt=""><br>
                            LOADING IMAGES
                        </div>
                        @*<div class="zoomDiv">*@
                        <div class="sp-wrap">
                            @foreach (var item in ViewBag.Imagelist)
                            {
                                @*<a href="~/vendorimages/@item"><img src="~/vendorimages/@item" alt=""></a>*@
                                <a href="~/vendorimages/@item"> <img src="~/vendorimages/@item" alt="thumb"></a>
                                @*<img src="~/vendorimages/@item" alt="">*@
                                @*<a href="~/vendorimages/cam7.jpg"><img src="~/vendorimages/cam7.jpg" alt=""></a>
                                    <a href="~/vendorimages/cam7.jpg"><img src="~/vendorimages/cam7.jpg" alt=""></a>
                                    <a href="~/vendorimages/cam7.jpg"><img src="~/vendorimages/cam7.jpg" alt=""></a>*@
                            }
                        </div>
                        @*</div>*@

                    </div>
                    <div class="deal-desc">
                        <div class="review-area">
                            <ul>
                                <li>
                                    <div class="rate" data-rate-value=4></div>
                                    &nbsp;53
                                </li>
                                <li><a href="#review" class="move_review text-green"><i class="ti-comment-alt text-green"></i> Reviews @ViewBag.Reviewlist.Count</a></li>
                                <li class="text-red"> <a href="#writeReview" class=" text-red popup-with-move-anim"><i class="ti-pencil-alt text-red"></i> Write a Review</a></li>
                            </ul>


                            <!-- popup -->
                            <div data-role="popup" id="writeReview" class="zoom-anim-dialog mfp-hide small-dialog">
                                <div class="popup-box pop-content">
                                    <div class="popup-head">
                                        <h3>Write a Review</h3>
                                    </div>
                                    <!-- /popup-head -->
                                    <div class="popup-space popup-desc-space">
                                        <div class="dashboardList dashboardList-nospace">
                                            <div class="bidding_form">
                                                @using (Html.BeginForm("WriteaRiview", "ProductInfo", FormMethod.Post, new { @class = "form-signin", @id = "register_form", @autocomplete = "off" }))
                                                {
                                                    <ul>
                                                        <li>
                                                            <label>Name</label>
                                                            @*<input type="text" name="name" placeholder="Name">*@
                                                            @Html.TextBoxFor(model => model.Item2.FirstName, new { @id = "name", @name = "name", placeholder = "Name", required = "required" })
                                                        </li>
                                                        <li>
                                                            <label>Emal ID <span>*</span></label>
                                                            @*<input type="text" name="email" placeholder="Email ID">*@
                                                            @Html.TextBoxFor(model => model.Item2.EmailId, new { @id = "EmailId", @name = "EmailId", placeholder = "EmailId", required = "required" })
                                                        </li>
                                                    </ul>
                                                    <ul>
                                                        <li class="full-width">
                                                            <label>Review <span>*</span></label>
                                                            @*<textarea name="Review" placeholder="Review"></textarea>*@
                                                            <input type="hidden" id="stvalue" name="Minvalue" value="10">
                                                            <input type="hidden" id="hmin" name="Minvalue" value="10">
                                                            @Html.HiddenFor(model => model.Item2.Service, new { @id = "Service", @name = "Service", required = "required", Value = @Model.Item1.ServicType })
                                                            @Html.HiddenFor(model => model.Item2.ServiceId, new { @id = "Review", @name = "Review", required = "required", Value = @Model.Item1.Id })
                                                            @Html.TextAreaFor(model => model.Item2.Comments, new { @id = "Review", @name = "Review", placeholder = "Review", required = "required" })
                                                        </li>
                                                    </ul>

                                                    <ul>
                                                        <li>&nbsp;</li>
                                                        <li>
                                                            <button type="submit" name="submit" class="btn btn-small btn-green float-right" value="submit">Submit <i class="ti-angle-double-right"></i></button>
                                                        </li>
                                                    </ul>
                                                }
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end popup -->

                        </div>
                        <div class="product_review">
                            <h4>Location</h4>
                            <p>@Model.Item1.Landmark,@Model.Item1.Address,@Model.Item1.City,@Model.Item1.State</p>
                        </div>
                        <div class="product_review">
                            <h4>Description</h4>
                            <p class="comment">@Model.Item1.Description</p>
                        </div>

                        @*Calculation other Div*@
                        <div class="deal_price" id="Calcdiv_Other" style="display:none">
                            <div class="price_details">
                                <dl>
                                    <dt>Deal Price: </dt>
                                    <dd>
                                        @*<h1 class="text-green">Rs. 1,299</h1>*@
                                        <p id="demoother" style="color:#8ca436;font-size:20px">@*Rs. @Model.cost*@</p>
                                    </dd>
                                    <dt>Selling Price: </dt>
                                    <dd>
                                        <h2>Rs. 1,800</h2>
                                    </dd>
                                    <dt>Total Price: </dt>
                                    <dd>
                                        <h2>Rs. 2,200</h2>
                                    </dd>
                                </dl>
                                <form name="myFormother">
                                    <label>Number of items<span>*</span></label>
                                    <input type="hidden" id="hmin" name="Minvalue" value="10">
                                    <input type="hidden" id="hmax" name="Maxvalue" value="50">
                                    <input type="text" id="txtquantityother" value="10" placeholder="Enter Quantity" onchange="Onchangequantityother()" /><br>
                                    <input type="radio" id="vlother" name="platetypeother" value="500" checked> item cost 500/-<br>
                                </form>
                            </div>
                            <div class="deal_save">
                                <p>You Save: <span class="text-red">Rs. 1,800</span></p>
                                <h3>30% OFF</h3>
                            </div>
                        </div>

                        @*Calculation venue Div*@
                        <div class="deal_price" id="Calcdiv_venue" style="display:none">
                            <div class="price_details">
                                <dl>
                                    <dt>Deal Price: </dt>
                                    <dd>
                                        @*<h1 class="text-green">Rs. 1,299</h1>*@
                                        <p id="demovenue" style="color:#8ca436;font-size:20px"></p>
                                    </dd>
                                    <dt>Selling Price: </dt>
                                    <dd>
                                        <h2>Rs. 1,800</h2>
                                    </dd>
                                    <dt>Total Price: </dt>
                                    <dd>
                                        <h2>Rs. 2,200</h2>
                                    </dd>
                                </dl>
                                <form name="myFormvenue">
                                    <label>Quantity<span>*</span></label>
                                    <input type="text" id="txtquantityvenue" value="10" placeholder="Enter Quantity" onchange="Onchangequantityvenue()" /><br>
                                    <input type="radio" id="vlvenue" name="platetypevenue" value=@Model.Item1.cost checked> Veg lunch Per plate cost @Model.Item1.cost/-<br>
                                    <input type="radio" id="nvlvenue" name="platetypevenue" value=@Model.Item1.cost1> Non veg lunch Per plate cost @Model.Item1.cost1/-<br>
                                    <input type="radio" id="vdvenue" name="platetypevenue" value=@Model.Item1.cost2> Veg DinnerVeg Per plate cost @Model.Item1.cost2/-<br>
                                    <input type="radio" id="nvdvenue" name="platetypevenue" value=@Model.Item1.cost3>Non Veg Dinner Per plate cost @Model.Item1.cost3/-<br>
                                    @*<p id="demo"></p>*@
                                    @*<button type="submit" id="btncal" name="submit" class="btn btn-small btn-green float-right" value="submit">Calculate <i class="ti-angle-double-right"></i></button>*@
                                    @*<button name="btncalu" type="button" id="btncalu" class="btn btn-green more-button" style="width:250px;height:40px"><i class="ti-reload"></i> Calculate</button>*@
                                </form>
                            </div>
                            <div class="deal_save">
                                <p>You Save: <span class="text-red">Rs. 1,800</span></p>
                                <h3>30% OFF</h3>
                            </div>
                        </div>

                        @*Calculation Caterer Div*@
                        <div class="deal_price" id="Calcdiv_Caterer" style="display:none">
                            <div class="price_details">
                                <dl>
                                    <dt>Deal Price: </dt>
                                    <dd>
                                        @*<h1 class="text-green">Rs. 1,299</h1>*@
                                        <p id="demoCatering" style="color:#8ca436;font-size:20px"></p>
                                    </dd>
                                    <dt>Selling Price: </dt>
                                    <dd>
                                        <h2>Rs. 1,800</h2>
                                    </dd>
                                    <dt>Total Price: </dt>
                                    <dd>
                                        <h2>Rs. 2,200</h2>
                                    </dd>
                                </dl>
                                <form name="myFormCatering">
                                    <label>Number of plates<span>*</span></label>
                                    <input type="text" id="txtquantityCatering" value="10" placeholder="Enter Quantity" onchange="OnchangequantityCatering()" /><br>
                                    <input type="radio" id="vlCatering" name="platetypeCatering" value="500" checked> Veg Per plate cost 500/-<br>
                                    <input type="radio" id="nvlCatering" name="platetypeCatering" value="1000"> Non veg Per plate cost 1000/-<br>
                                </form>
                            </div>
                            <div class="deal_save">
                                <p>You Save: <span class="text-red">Rs. 1,800</span></p>
                                <h3>30% OFF</h3>
                            </div>
                        </div>

                        @*Calculation Gift Div*@
                        <div class="deal_price" id="Calcdiv_Gift" style="display:none">
                            <div class="price_details">
                                <dl>
                                    <dt>Deal Price: </dt>
                                    <dd>
                                        @*<h1 class="text-green">Rs. 1,299</h1>*@
                                        <p id="demoGift" style="color:#8ca436;font-size:20px"></p>
                                    </dd>
                                    <dt>Selling Price: </dt>
                                    <dd>
                                        <h2>Rs. 1,800</h2>
                                    </dd>
                                    <dt>Total Price: </dt>
                                    <dd>
                                        <h2>Rs. 2,200</h2>
                                    </dd>
                                </dl>
                                <form name="myFormGift">
                                    <label>Number of gifts<span>*</span></label>
                                    <input type="text" id="txtquantityGift" value="10" placeholder="Enter Quantity" onchange="OnchangequantityGift()" /><br>
                                    <input type="radio" id="vlGift" name="platetypeGift" value="500" checked> Gift cost 500/-<br>
                                </form>
                            </div>
                            <div class="deal_save">
                                <p>You Save: <span class="text-red">Rs. 1,800</span></p>
                                <h3>30% OFF</h3>
                            </div>
                        </div>

                        @*Calculation invitation Div*@
                        <div class="deal_price" id="Calcdiv_invitation" style="display:none">
                            <div class="price_details">
                                <dl>
                                    <dt>Deal Price: </dt>
                                    <dd>
                                        @*<h1 class="text-green">Rs. 1,299</h1>*@
                                        <p id="demoinvitation" style="color:#8ca436;font-size:20px"></p>
                                    </dd>
                                    <dt>Selling Price: </dt>
                                    <dd>
                                        <h2>Rs. 1,800</h2>
                                    </dd>
                                    <dt>Total Price: </dt>
                                    <dd>
                                        <h2>Rs. 2,200</h2>
                                    </dd>
                                </dl>
                                <form name="myForminvitation">
                                    <label>Number of cards<span>*</span></label>
                                    <input type="text" id="txtquantityinvitation" value="10" placeholder="Enter Quantity" onchange="Onchangequantityinvitation()" /><br>
                                    <input type="radio" id="vlinvitation" name="platetypeinvitation" value="500" checked> Card cost 500/-<br>
                                    <input type="radio" id="nvlinvitation" name="platetypeinvitation" value="1000"> Carrd cost with print 1000/-<br>
                                </form>
                            </div>
                            <div class="deal_save">
                                <p>You Save: <span class="text-red">Rs. 1,800</span></p>
                                <h3>30% OFF</h3>
                            </div>
                        </div>

                        @*Calculation General Div*@
                        <div class="deal_price" id="Calcdiv_General" style="display:none">
                            <div class="price_details">
                                <dl>
                                    <dt>(General)Deal Price: </dt>
                                    <dd>
                                        @*<h1 class="text-green">Rs. 1,299</h1>*@
                                        <p id="demoGeneral" style="color:#8ca436;font-size:20px">Rs. @Model.Item1.cost</p>
                                    </dd>
                                    <dt>Selling Price: </dt>
                                    <dd>
                                        <h2>Rs. 1,800</h2>
                                    </dd>
                                    <dt>Total Price: </dt>
                                    <dd>
                                        <h2>Rs. 2,200</h2>
                                    </dd>
                                </dl>
                                <form name="myFormGeneral">
                                    <label>Number of items<span>*</span></label>
                                    <input type="hidden" id="hmin" name="Minvalue" value="10">
                                    <input type="hidden" id="hmax" name="Maxvalue" value="50">
                                    <input type="text" id="txtquantityGeneral" value="10" placeholder="Enter Quantity" onchange="OnchangequantityGeneral()" /><br>
                                    <input type="radio" id="vlGeneral" name="platetypeGeneral" value="500" checked> item cost 500/-<br>
                                </form>
                            </div>
                            <div class="deal_save">
                                <p>You Save: <span class="text-red">Rs. 1,800</span></p>
                                <h3>30% OFF</h3>
                            </div>
                        </div>

                        <input type="hidden" id="stype" name="Minvalue" value=@ViewBag.servicetype>
                        <div class="deal_buttons">
                            <a href="~/Product/Index" class="btn btn-big btn-orange">Add To Cart </a> <a href="~/CartView/Index" class="btn btn-big btn-green" id="lnkproceedtonext">Buy Now </a>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="deal_amenties">
                        <div class="dashboardList">
                            <table class="responsive">
                                <thead>
                                    <tr>
                                        <th><h2>Emenities</h2></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Brand : Canon - DSLR </td>
                                    </tr>
                                    <tr>
                                        <td>Model ID: EOS1200D Kit(EF S18-55 IS II+55-250mm IS II) with 8 GB Card & Bag </td>
                                    </tr>
                                    <tr>
                                        <td>Shutter Speed in other Modes: Bulb, X-sync at 1/200 sec </td>
                                    </tr>
                                    <tr>
                                        <td>Continuous Shots: Yes, 3.0 Shots/sec </td>
                                    </tr>
                                    <tr>
                                        <td>Drive Modes: Single, Continuous, Self-timer </td>
                                    </tr>
                                    <tr>
                                        <td>Maximum Burst: JPEG: 69 Shots, RAW: 6 Shots, RAW + JPEG: 4 Shots</td>
                                    </tr>
                                    <tr>
                                        <td>Temperature: 0° C - 40°C </td>
                                    </tr>
                                    <tr>
                                        <td>Live View Shooting : Yes</td>
                                    </tr>
                                    <tr>
                                        <td>Image Format: JPEG, RAW, RAW + JPEG </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="deal_reviews_all">
                        <div class="dashboardList all_reviews" id="review">
                            <table class="responsive">
                                <thead>
                                    <tr>
                                        <th><h2>Most Popular Reviews</h2> <a href="#">View All Reviews</a> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.Reviewlist.Count != 0)
                                    {
                                        foreach (var reviewitem in ViewBag.Reviewlist)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="review_title">
                                                        <h5>@reviewitem.FirstName</h5>
                                                        <small>@reviewitem.UpdatedDate</small>
                                                    </div>
                                                    <div class="review_rate">
                                                        <div class="rate" data-rate-value=3></div>
                                                    </div>
                                                    <div class="clear"></div>
                                                    <p>@reviewitem.Comments</p>
                                                    <p>Was this review helpful to you? <a href="#" class="text-green"><i class="ti-thumb-up text-green"></i> Yes</a> &nbsp; <a href="#" class="text-red"><i class="ti-thumb-down text-red"></i> No</a></p>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>
                                                <div class="clear"></div>
                                                <a href="#">There is no reivews Yet</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="side-ads">
                    <div class="ad_250" style="background-color:white;">
                        <div style="border: groove; width: 75%; height:230px;">
                            <br />
                            <label style="font-size:14px; line-height:20px; display:block; color:#f38e07; position:relative; z-index:1; text-align:center; font-family:'aileronbold' ; text-transform:uppercase;">CHECK AVAILABILITY</label>
                            <br />
                            <center><input type="text" name="Email" placeholder="Start Date" id="datetimepicker1"></center>
                            <br />
                            <center><input type="text" name="Email" placeholder="End Date" id="datetimepicker2"></center>
                            <br />
                            <center><button type="submit" class="btn btn-green">Check <i class="ti-angle-double-right"></i></button></center>
                        </div>
                    </div>
                    <div class="ad_250"> </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</section>
<div class="clear"></div>
@section scripts
{
    <script type="text/javascript" src="~/CSSWeb/js/jquery.datetimepicker.js"></script>
}
@section scriptfunctions
{
    <script type="text/javascript">
        window.onload = function () {
            var b;
            var a = document.getElementById("txtquantityvenue").value;
            if (document.getElementById("vlvenue").checked) {
                document.getElementById("demovenue").innerHTML = document.getElementById("vlvenue").value * a;
            }
            if (document.getElementById("vlother").checked) {
                document.getElementById("demoother").innerHTML = document.getElementById("vlother").value * a;
            }
            if (document.getElementById("vlCatering").checked) {
                document.getElementById("demoCatering").innerHTML = document.getElementById("vlCatering").value * a;
            }
            if (document.getElementById("vlGift").checked) {
                document.getElementById("demoGift").innerHTML = document.getElementById("vlGift").value * a;
            }
            if (document.getElementById("vlinvitation").checked) {
                document.getElementById("demoinvitation").innerHTML = document.getElementById("vlinvitation").value * a;
            }
            if (document.getElementById("vlGeneral").checked) {
                document.getElementById("demoGeneral").innerHTML = document.getElementById("vlGeneral").value * a;
            }

            var servicetype = document.getElementById("stype").value;

            if (servicetype == "Other") {
                $('#Calcdiv_Other').removeAttr("style");
                $('#Calcdiv_Other').css({ "display": "block" });
            }
            else if (servicetype == "Venue") {
                $('#Calcdiv_venue').removeAttr("style");
                $('#Calcdiv_venue').css({ "display": "block" });
            }
            else if (servicetype == "InvitationCard") {
                $('#Calcdiv_invitation').removeAttr("style");
                $('#Calcdiv_invitation').css({ "display": "block" });
            }
            else if (servicetype == "Catering") {
                $('#Calcdiv_Caterer').removeAttr("style");
                $('#Calcdiv_Caterer').css({ "display": "block" });
            }
            else if (servicetype == "Gift") {
                $('#Calcdiv_Gift').removeAttr("style");
                $('#Calcdiv_Gift').css({ "display": "block" });
            }
            else {
                $('#Calcdiv_General').removeAttr("style");
                $('#Calcdiv_General').css({ "display": "block" });
            }

        };

        //var rad = document.myForm.platetype;
        //var prev = null;
        //var rr = null;
        //for (var i = 0; i < rad.length; i++) {
        //    rad[i].onclick = function () {
        //        if (this !== prev) {
        //            prev = this;
        //            var a = document.getElementById("txtquantity").value;
        //            document.getElementById("demo").innerHTML = a * parseInt(this.value);
        //        }
        //    };
        //}

        //for venues
        var radvenue = document.myFormvenue.platetypevenue;
        var prevvenue = null;
        var rrvenue = null;
        for (var i = 0; i < radvenue.length; i++) {
            radvenue[i].onclick = function () {
                if (this !== prevvenue) {
                    prevvenue = this;
                    var a = document.getElementById("txtquantityvenue").value;
                    document.getElementById("demovenue").innerHTML = a * parseInt(this.value);
                }
            };
        }
        function Onchangequantityvenue() {
            var b;
            var a = document.getElementById("txtquantityvenue").value;
            if (document.getElementById("vlvenue").checked) {
                document.getElementById("demovenue").innerHTML = document.getElementById("vl").value * a;
            }
            else if (document.getElementById("nvlvenue").checked) {
                document.getElementById("demovenue").innerHTML = document.getElementById("nvl").value * a;
            }
            else if (document.getElementById("vdvenue").checked) {
                document.getElementById("demovenue").innerHTML = document.getElementById("vd").value * a;
            }
            else if (document.getElementById("nvdvenue").checked) {
                document.getElementById("demovenue").innerHTML = document.getElementById("nvd").value * a;
            }
        }
        $('#lnkproceedtonext').on('click', function (e) {
            var minvalue1 = document.getElementById("hmin").value;
            var maxvalue1 = document.getElementById("hmax").value;
            if (document.getElementById("txtquantity").value < minvalue1) {
                alert('Enter minimum Quantity');
            }
            if (document.getElementById("txtquantity").value > maxvalue1) {
                alert('Required exeeded maximum Quantity');
            }
            //alert(minvalue1);
            return false;
        });



        //for Catering
        var radCatering = document.myFormCatering.platetypeCatering;
        var prevCatering = null;
        var rrCatering = null;
        for (var i = 0; i < radCatering.length; i++) {
            radCatering[i].onclick = function () {
                if (this !== prevCatering) {
                    prevCatering = this;
                    var a = document.getElementById("txtquantityCatering").value;
                    document.getElementById("demoCatering").innerHTML = a * parseInt(this.value);
                }
            };
        }
        function OnchangequantityCatering() {
            var b;
            var a = document.getElementById("txtquantityCatering").value;
            if (document.getElementById("vlCatering").checked) {
                document.getElementById("demoCatering").innerHTML = document.getElementById("vlCatering").value * a;
            }
            else if (document.getElementById("nvlvenue").checked) {
                document.getElementById("demovenue").innerHTML = document.getElementById("nvlCatering").value * a;
            }
            //else if (document.getElementById("vdvenue").checked) {
            //    document.getElementById("demovenue").innerHTML = document.getElementById("vdCatering").value * a;
            //}
            //else if (document.getElementById("nvdvenue").checked) {
            //    document.getElementById("demovenue").innerHTML = document.getElementById("nvdCatering").value * a;
            //}
        }
        $('#lnkproceedtonext').on('click', function (e) {
            var minvalue1 = document.getElementById("hminCatering").value;
            var maxvalue1 = document.getElementById("hmaxCatering").value;
            if (document.getElementById("txtquantityCatering").value < minvalue1) {
                alert('Enter minimum Quantity');
            }
            if (document.getElementById("txtquantityCatering").value > maxvalue1) {
                alert('Required exeeded maximum Quantity');
            }
            //alert(minvalue1);
            return false;
        });



        //for Gift
        var radGift = document.myFormGift.platetypeGift;
        var prevGift = null;
        var rrGift = null;
        for (var i = 0; i < radGift.length; i++) {
            radGift[i].onclick = function () {
                if (this !== prevCatering) {
                    prevGift = this;
                    var a = document.getElementById("txtquantityGift").value;
                    document.getElementById("demoGift").innerHTML = a * parseInt(this.value);
                }
            };
        }
        function OnchangequantityGift() {
            var b;
            var a = document.getElementById("txtquantityGift").value;
            if (document.getElementById("vlGift").checked) {
                document.getElementById("demoGift").innerHTML = document.getElementById("vlGift").value * a;
            }
        }
        $('#lnkproceedtonext').on('click', function (e) {
            var minvalue1 = document.getElementById("hminCatering").value;
            var maxvalue1 = document.getElementById("hmaxCatering").value;
            if (document.getElementById("txtquantityCatering").value < minvalue1) {
                alert('Enter minimum Quantity');
            }
            if (document.getElementById("txtquantityCatering").value > maxvalue1) {
                alert('Required exeeded maximum Quantity');
            }
            //alert(minvalue1);
            return false;
        });



        //for invitation
        var radinvitation = document.myForminvitation.platetypeinvitation;
        var previnvitation = null;
        var rrinvitation = null;
        for (var i = 0; i < radinvitation.length; i++) {
            radinvitation[i].onclick = function () {
                if (this !== previnvitation) {
                    previnvitation = this;
                    var a = document.getElementById("txtquantityinvitation").value;
                    document.getElementById("demoinvitation").innerHTML = a * parseInt(this.value);
                }
            };
        }
        function Onchangequantityinvitation() {
            var b;
            var a = document.getElementById("txtquantityinvitation").value;
            if (document.getElementById("vlinvitation").checked) {
                document.getElementById("demoinvitation").innerHTML = document.getElementById("vlinvitation").value * a;
            }
            else if (document.getElementById("nvlinvitation").checked) {
                document.getElementById("demoinvitation").innerHTML = document.getElementById("nvlinvitation").value * a;
            }
        }
        $('#lnkproceedtonext').on('click', function (e) {
            var minvalue1 = document.getElementById("hmin").value;
            var maxvalue1 = document.getElementById("hmax").value;
            if (document.getElementById("txtquantity").value < minvalue1) {
                alert('Enter minimum Quantity');
            }
            if (document.getElementById("txtquantity").value > maxvalue1) {
                alert('Required exeeded maximum Quantity');
            }
            //alert(minvalue1);
            return false;
        });



        //for General
        var radGeneral = document.myFormGeneral.platetypeGeneral;
        var prevGeneral = null;
        var rrGeneral = null;
        for (var i = 0; i < radGeneral.length; i++) {
            radGeneral[i].onclick = function () {
                if (this !== prevGeneral) {
                    prevGeneral = this;
                    var a = document.getElementById("txtquantityGeneral").value;
                    document.getElementById("demoGeneral").innerHTML = a * parseInt(this.value);
                }
            };
        }
        function OnchangequantityGeneral() {
            var b;
            var a = document.getElementById("txtquantityGeneral").value;
            if (document.getElementById("vlGeneral").checked) {
                document.getElementById("demoGeneral").innerHTML = document.getElementById("vlGeneral").value * a;
            }
        }
        $('#lnkproceedtonext').on('click', function (e) {
            var minvalue1 = document.getElementById("hmin").value;
            var maxvalue1 = document.getElementById("hmax").value;
            if (document.getElementById("txtquantity").value < minvalue1) {
                alert('Enter minimum Quantity');
            }
            if (document.getElementById("txtquantity").value > maxvalue1) {
                alert('Required exeeded maximum Quantity');
            }
            //alert(minvalue1);
            return false;
        });



        //for other
        var radother = document.myFormother.platetypeother;
        var prevother = null;
        var rrother = null;
        for (var i = 0; i < radother.length; i++) {
            radother[i].onclick = function () {
                if (this !== prevother) {
                    prevother = this;
                    var a = document.getElementById("txtquantityother").value;
                    document.getElementById("demoother").innerHTML = a * parseInt(this.value);
                }
            };
        }
        function Onchangequantityother() {
            var b;
            var a = document.getElementById("txtquantityother").value;
            if (document.getElementById("vlother").checked) {
                document.getElementById("demoother").innerHTML = document.getElementById("vlother").value * a;
            }
        }
        $('#lnkproceedtonext').on('click', function (e) {
            var minvalue1 = document.getElementById("hmin").value;
            var maxvalue1 = document.getElementById("hmax").value;
            if (document.getElementById("txtquantity").value < minvalue1) {
                alert('Enter minimum Quantity');
            }
            if (document.getElementById("txtquantity").value > maxvalue1) {
                alert('Required exeeded maximum Quantity');
            }
            //alert(minvalue1);
            return false;
        });

    </script>
}
